

 /*------------ スマホ表示/450px以下で見たとき ------------*/

 @media screen and (max-width:450px) {

 
  /*-------- 共通　---------*/
  
  p {
    font-size: 3.5vw;
  }

  /*-------- ヘッダー　---------*/

  header img.header_logo {
    width: 15%;
    margin: 0;
  }
  
  header .header_linebtn {
    width: 31%;
    margin: 0px;
  }
  
  
  .header{
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 93%;
  }

  /*-------- アイキャッチ　---------*/

  .icatch {
    padding-top: 18%;
  }

  .icatch img.catchcopy {
    width: 98%;
  }

  .icatch_bottom p {
    font-size: 4.3vw;
    line-height: 156%;
    color: white;
    margin-top: 2%;
  }

  span.dotted_sp {
    display: inline-block;
    border-bottom: 1px dotted #ccc;
  }

  .catchcopyimg img.right {
    width: 13%;
    top: 33%;
  }

  .catchcopyimg img.left {
    width: 10%;
    top: 36%;
  }



  /*-------- リンクボタン(lineと女性はこちら)　---------*/

  .btnarea {
    padding: 2% 3% 4% 3%;
  }
  
  .btn_line {
    width: 98%;
  }
  
  .btn_woman {
    width: 60%;
    margin-top: 12px;
  }


 /*-------- コンテンツ(aimaについて)　---------*/

  .contentheader img {
    width: 30%;
  }

  h3.contentheader {
    font-size: 4.5vw;
  }
  
  .about p {
    line-height: 170%;
  }

  .pointflame {
    margin: 0 4% 5% 4%;
    position: relative;
    border-radius: 14px;
  }
  
  .pointflame img {
    width: 14%;
    left: -17%;
  }

  .about {
    padding-bottom: 2%;
  }


/*-------- コンテンツ(マッチングの流れ)　---------*/


  .matchingflow img {
    width: 48%;
    margin-top: 5%;
  }

  .matchingflow p {
    font-size: 4.5vw;
    line-height: 130%;
  }

  p.pink_hukidashi {
    margin: 12% 0 0 0;
    border-radius: 0px;
    font-size: 4.5vw;
  }

  img.heart {
    width: 9%;
    right: 9%;
    top: -15%;
  }

  .patarn1, .patarn2 {
    background-size: cover;
  }


  /*  スライド部分css  */

  .horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .item {
    /* 横スクロール用 */
    display: inline-block;
    width: 80%;

    /* 見た目調整 */
    height: 400px;
  }

  .item img {
    width: 110%;
    margin: 0;
  }

  .item img.item3 {
    width: 98%;
    margin-right: 27%;
  } 

  .item p {
    width: -10%;
    text-align: left;
    margin: 5% 0 0 19%;
    font-size: 3.5vw;
  }

  p.pink_hukidashi::before {
    top: -58px;
    border-bottom: 40px solid #DC7986;
  }



  /*-------- コンテンツ(女子大生に人気のワケ)　---------*/

  .popularreason p {
    line-height: 190%;
    margin: 6% 0;
    font-size: 4vw;
  }

  .pinkbottomline {
    font-size: 4.5vw;
    border-bottom: solid 3px #EE86A1;
  }


  .popularreason img.btn_line {
    margin: 0 0 10% 0;
    width: 90%;
  }

  .reasonimage_sp {
    width: 75%;
    margin: 0 auto 11% auto;
  }


 /*-------- コンテンツ(利用料金)　---------*/

  .fee {
    padding-bottom : 8%;
  }

  .fee h4 {
    width: 65%;
    font-size: 4.5vw;
    letter-spacing: 0.1em;
  }
  
  .fee img {
    width: 78%;
  }

  .fee p {
    margin: 5% auto 0 auto;
  }

  .fee p.mintext {
    font-size: 4vw;
  }
    
  .white_hukidashi {
    width: 55%;
    margin: 0;
    padding: 1%;
  }


  /*-------- コンテンツ(6つの理由)　---------*/

  .allreason {
    padding-bottom : 7%;
  }

  .sixreason {
    margin: 8% auto;
  }

  .sixreason div {
    position: relative;
    display: block;
  }

  .reason1 {
    width: 83%;
    box-shadow: 3% 3% #C3B591;
    padding: 3% 3% 3% 19%;
    margin: 0 0 8% 0;
  }

  .reason1 p {
    margin: 0;
    font-size: 3.5vw;
    line-height: 122%;
  }

  .reason1 img {
    width: 18%;
    position: absolute;
    top: -3px;
    left: -20px;
  }


  /*-------- コンテンツ(aimaの使い方アンケート)　---------*/

  .howtouseaima p {
    margin: 7% 0 0 0;
  }

  .howtouseaima img {
    width: 65%;
    margin: 8% 5% 0 0px;
  }

  .howtouseaima {
    padding-bottom: 10%;
  }


  /*-------- コンテンツ(利用者の口コミ)　---------*/
  
  p.brownframe {
    padding: 1% 5%;
  }

  .partition {
    margin: 4% 0;
  }

  .kuchikomiframe p.comment {
    line-height: 170%;
  }

  .kuchikomi {
    padding-bottom : 8%;
  }

  .last_btn p {
    margin-top : 8%;
  }

  .footer a img.btn_top {
    width: 13%;
  }

  .footer {
    padding: 4%;
  }




}


