/*------------ タブレット表示/1139px以下で見たとき ------------*/

@media screen and (max-width:1139px) {
  /*----------   共通　-------------*/


  /*-------- ヘッダー　---------*/

  .header {
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 100%;
  }

  /*-------- アイキャッチ　---------*/

  .icatch_bottom p {
    font-size: 3vw;
    line-height: 50px;
  }

  .catchcopyimg img.right {
    width: 8%;
    top: 12%;
    right: 3%;
  }

  .catchcopyimg img.left {
    width: 7%;
    top: 11%;
    left: 3%;
  }


  /*-------- コンテンツ(aimaについて)　---------*/

  .flowtext li {
    font-size: 2vw;
    width: 18%;
    margin: 2% 0 0 12%;
  }



  /*-------- コンテンツ(マッチングの流れ)　---------*/

  img.heart {
    width: 5%;
    right: 24%;
    top: -34%;
  }

  /*-------- コンテンツ(女子大生に人気のワケ)　---------*/

  .popularreason p {
    line-height: 175%;
    font-size: 2vw;
  }

  /*-------- コンテンツ(6つの理由)　---------*/

  .reason1 p,
  .reason2 p {
    margin: 9% 0 0 0;
    padding: 0;
    text-align: left;
    font-size: 1.8vw;
    line-height: 23px;
  }

  /*-------- コンテンツ(利用者の口コミ)　---------*/

  p.brownframe {
    padding: 3% 5%;
    width: 83%;
  }

  .kuchikomiframe p.comment {
    width: 48%;
    font-size: 2vw;
    margin-bottom: 4%;

  }

  hr {
    margin: 0% 5% -1% 5%;
  }


  .last_btn p {
    font-size: 3vw;
    line-height: 118%;
    margin-top: 5%;
  }

}



/*------------ タブレット表示/900px以下で見たとき ------------*/

@media screen and (max-width:900px) {

  /*-------------  共通  --------------*/

  p {
    font-size: 2.5vw;
    line-height: 160%;
  }

  /*-------- ヘッダー　---------*/

  .header {
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 100%;
  }


  /*-------- アイキャッチ　---------*/

  .catchcopyimg img.right {
    top: 21%;
  }

  .catchcopyimg img.left {
    top: 20%;
  }



  /*-------- コンテンツ(aimaについて)　---------*/

  .about p {
    margin: 4% 9%;
    line-height: 140%;
  }

  /*-------- コンテンツ(マッチングの流れ)　---------*/

  img.heart {
    right: 20%;
    top: -27%;
  }



  /*-------- コンテンツ(女子大生に人気のワケ)　---------*/

  .popularreason p {
    line-height: 155%;
    font-size: 2.5vw;
  }

  .pinkbottomline {
    font-size: 3.5vw;
    padding-bottom: 1%;
    border-bottom: solid 4px #EE86A0;
  }

  /*-------- コンテンツ(料金について)　---------*/

  .fee h4 {
    font-size: 2.5vw;
  }

  .fee p {
    line-height: 150%;
  }

  .fee p.mintext {
    font-size: 2vw;
    margin: 1%;
    padding-left: 48%;
  }



  /*-------- コンテンツ(6つの理由)　---------*/
  .reason1 {
    margin: 4.6% 0 0 5%;
  }





  /*-------- コンテンツ(利用者の口コミ)　---------*/

  .kuchikomiframe img.mens {
    margin: 0 3% 18% 0;
  }

  p.brownframe {
    font-size: 2vw;
    width: 73%;
  }

  .kuchikomiframe h3 {
    font-size: 2.2vw;
    width: 82%;
  }


  /*-------- フッター　---------*/

  .footer a img.btn_top {
    bottom: 40%;
    right: 6%;
  }

}









/*------------ タブレット表示/750px以下で見たとき ------------*/

@media screen and (max-width:750px) {

  /*------------  全体  ------------*/

  .contentheader {
    font-size: 3vw;
    padding: 1%;
  }

  /*-------- ヘッダー　---------*/

  .header {
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 100%;
  }

  /*-------- アイキャッチ　---------*/

  .icatch img.pc,
  .icatch img.sp {
    border-bottom: solid 8px #CF0064;
  }

  .icatch_bottom {
    padding: 3%;
  }

  .icatch_bottom h2 {
    font-size: 0;
  }

  .icatch img.catchcopy {
    width: 77%;
  }

  .icatch_bottom p {
    line-height: 213%;
  }

  span.dotted_pc {
    border-bottom: 2px dotted #ccc;
    padding-bottom: 1%;
  }

  .catchcopyimg img.right {
    top: 19%;
  }


  /*-------- コンテンツ(aimaについて)　---------*/

  .pointflame {
    border: solid 1.5px black;
    border-left: solid 80px black;
  }

  .pointflame img {
    left: -14%;
  }


  /*-------- コンテンツ(マッチングの流れ)　---------*/

  .matchingflow p {
    font-size: 3.5vw;
  }

  .flowtext li {
    width: 23%;
    margin: 2% 0 0 7.5%;
  }

  .matchingflow p {
    font-size: 3vw;
  }

  p.pink_hukidashi {
    padding: 3%;
    line-height: 161%;
  }

  img.heart {
    top: -38%;
  }


  /*-------- コンテンツ(料金について)　---------*/

  .white_hukidashi {
    border: solid 2.5px black;
  }


  /*-------- コンテンツ(6つの理由)　---------*/

  .reason1 p,
  .reason2 p {
    line-height: 150%;
  }

  .reason1 {
    margin: 5% 0 0 0%;
  }

  .reason2 {
    margin: 5% 0 0 5%;
  }

  .under {
    margin-bottom: 6%;
  }


  /*-------- コンテンツ(利用者の口コミ)　---------*/

  .kuchikomiframe img.mens {
    width: 29%;
    margin: 0 3% 0% 0;
  }

  .partition {
    width: 65%;
    margin: 3% 0;
  }

  p.brownframe {
    font-size: 4vw;
    s width: 75%;
  }

  .kuchikomiframe h3 {
    font-size: 4vw;
    line-height: 131%;
    width: 100%;
  }

  .kuchikomiframe p.comment {
    width: 100%;
    font-size: 3vw;
  }

  .last_btn p {
    font-size: 4vw;
  }

  .kuchikomi .btn_line {
    width: 75%;
  }


  /*-------- フッター　---------*/


  .footer a img.btn_top {
    width: 10%;
  }




/*------------ タブレット表示/550px以下で見たとき ------------*/

@media screen and (max-width:550px) {


  /*--------------  共通  ------------*/

  .contentheader {
    font-size: 5vw;
  }

  p {
    font-size: 3.2vw;
  }

  /*-------- ヘッダー　---------*/

  .header {
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 100%;
  }

  header img.header_logo {
    width: 10%;
  }

  header .header_linebtn {
    width: 20%;
  }



  /*-------- アイキャッチ　---------*/

  .icatch_bottom p {
    line-height: 163%;
    color: white;
    margin-top: 2%;
  }

  .catchcopyimg img.right {
    width: 14%;
    top: 41px;
  }

  .catchcopyimg img.left {
    width: 12%;
  }

  .icatch_bottom p {
    font-size: 4vw;
  }

  span.dotted_sp {
    display: inline-block;
    border-bottom: 1px dotted #ccc;
  }


  /*-------- リンクボタン(lineと女性はこちら)　---------*/


  .btnarea {
    padding: 11px 11px 15px 11px;
  }

  .btn_woman {
    margin-left: 10px;
  }


  /*-------- コンテンツ(aimaについて)　---------*/


  .pointflame {
    border-left: solid 66px black;
  }

  .pointflame img {
    left: -13%;
  }


  /*-------- コンテンツ(マッチングの流れ)　---------*/


  .matchingflow img {
    margin: 30px 0 0 0;
  }

  /*  スライド部分css  */

  .horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .item {
    /* 横スクロール用 */
    display: inline-block;
    width: 80%;

    /* 見た目調整 */
    height: 400px;
  }

  .item img {
    width: 95%;
    margin: 0;
  }

  .item img.item3 {
    width: 84%;
    margin-right: 35%;
  }

  .item p {
    width: -10%;
    text-align: left;
    margin: 5% 0 0 19%;
  }

  p.pink_hukidashi::before {
    top: -58px;
    border-bottom: 40px solid #DC7986;
  }

  p.pink_hukidashi {
    margin: 12% 5% 0% 5%;
  }

  img.heart {
    width: 8%;
    top: -23%;
    right: 15%;
  }


  /*-------- コンテンツ(女子大生に人気のワケ)　---------*/


  .popularreason p {
    line-height: 190%;
    margin: 6% 0;
    font-size: 4vw;
  }

  .reasonimage_sp {
    width: 75%;
    margin: 0 auto 11% auto;
  }


  .pinkbottomline {
    font-size: 4.5vw;
    border-bottom: solid 3px #EE86A1;
  }

  .popularreason img.btn_line {
    margin: 3% 0 14% 0;
    width: 85%;
  }


  /*-------- コンテンツ(利用料金)　---------*/

  .fee {
    padding-bottom: 8%;
  }

  .fee h4 {
    width: 65%;
    font-size: 4.5vw;
    letter-spacing: 0.1em;
  }

  .fee img {
    width: 78%;
  }

  .fee p {
    margin: 5% auto 0 auto;
    font-size: 3.6vw;
  }

  .fee p.mintext {
    font-size: 4vw;
  }

  .white_hukidashi {
    width: 55%;
    margin: 0;
    padding: 1%;
  }



  /*-------- コンテンツ(6つの理由)　---------*/

  .allreason {
    padding-bottom: 7%;
  }

  .sixreason {
    margin: 8% auto;
  }

  .sixreason div {
    position: relative;
    display: block;
  }

  .reason1 {
    width: 83%;
    box-shadow: 3% 3% #C3B591;
    padding: 3% 3% 3% 19%;
    margin: 0 0 8% 0;
  }

  .reason1 p {
    margin: 0;
    font-size: 3.5vw;
    line-height: 122%;
  }

  .reason1 img {
    width: 18%;
    position: absolute;
    top: -3px;
    left: -20px;
  }


  /*-------- コンテンツ(aimaの使い方アンケート)　---------*/

  .howtouseaima img {
    width: 70%;
  }






}