
/*-------- 全体　---------*/

html {
  margin: 0;
  padding: 0;
  /*scroll-behavior: smooth;*/

}

body {
  margin: 0 auto;
  padding: 0;
  width:100%;
  background-color: #C9BB9C;
  
}


body, input, textarea {
  font-family: "游ゴシック Medium", 
  "Yu Gothic Medium", "游ゴシック体", 
  "YuGothic", "ヒラギノ角ゴ ProN W3", 
  "Hiragino Kaku Gothic ProN", "メイリオ", 
  "Meiryo", "verdana", sans-serif;
  }


img {
  vertical-align: bottom;
  width: 100%;
}


p {
  color: #4A4A4A;
  margin: 15px 0 0 0;
  font-size: 25px;
  line-height: 45px;
}


a{
  color: white;
  text-decoration: none;
  cursor:　pointer;
}


.clearfix:after{
  content: "";
  display: block;
  clear: both;
} 


.contentheader {
  color: #ffffff;
  font-size: 1.5em;
  background-color: black;
  background-image: url(../img/background_star.png);
  background-size: cover;
  padding: 15px;
  margin: 0;
  clear: both;

}



/* 451px以上で見たときは"pcimg"のclassがついた画像が表示される */
@media screen and (min-width: 551px) {
  .sp { display: none !important; }
  /*.pc { display: block !important; }*/
  }
/* 450px以下で見たときは"spimg"のclassがついた画像が表示される */
@media screen and (max-width: 550px) {
  .sp { display: block !important; }
  .pc { display: none !important; }
  }





/*-------- ヘッダー　---------*/

header {
  max-width: 1140px;
  margin: 0 auto;
}


.header {
  background-color: black;
  background-image: url(../img/background_star.png);
  background-size: cover;
  padding: 10px 13px 8px;
  margin: 0;
  position: fixed;
  top: 0px;
  z-index: 999999;
  width: 1110px;
}

header h1 {
  margin: 0;  
}

header img.header_logo {
  width: 7%;
  margin-left: 20px;
}

header .header_linebtn {
  float: right;
  width: 15%;
  margin-right: 5%;
}






/*-------- アイキャッチ　---------*/

.icatch {
  text-align: center;
  padding-top: 8%;
}

.icatch img.pc, .icatch img.sp{
  border-bottom: solid 15px #CF0064;
}


.icatch p, .icatch h2 {
  padding: 0px;
  margin: 0px;
 }


 .icatch img.catchcopy {
   width: 70%;
 }


.icatch_bottom {
  background-color: black;
  background-image: url(../img/background_star.png);
  background-size: cover;
  padding: 30px;
  margin: 0;
  position: relative;
}

.catchcopyimg img.left{
  width: 8%;
  position: absolute;
  top: 18px;
  left: 28px;
}

.catchcopyimg img.right{
  width: 9%;
  position: absolute;
  top: 25px;
  right: 27px;
}


.icatch_bottom h2 {
  color:white;
  font-size: 3em;
}

.icatch_bottom p {
  font-size: 33px;
  line-height: 59px;
}

span.dotted_pc {
  color: white;
  border-bottom: 3px dotted #ccc;
  padding-bottom: 10px;
}




/*-------- リンクボタン(lineと女性はこちら)　---------*/

.btnarea {
  float: left;
  text-align: center;
  padding: 20px 20px 30px 20px;
  background-color: white;
  display: block;
}

.btn_line {
  width: 55%;
}

.btn_woman {
  width: 36%;
  margin-left: 30px;
}


/*-----------　メイン　------------*/


main {
  max-width: 1140px;
  margin: 0 auto;
}


/*-------- コンテンツ(aimaについて)　---------*/

.about{
  text-align: center;
  padding-bottom: 30px;
  background-image: url(../img/pink_bg.png);
  background-size: cover;
}



.contentheader img {
  width: 18%;
}

.about img.about_point{
  width: 75%;
  margin-top: 7%;
}

.about p {
  line-height: 170%;
  margin:  50px 0;
  line-height: 40px;
}

.pointflame {
  padding:  0px;
  margin: 0 40px 20px 40px;
  border-radius: 20px;
  background-color: white;
  border: solid 3.5px black;
  border-left: solid 130px black;
  position: relative;
}

.pointflame img {
  width:8%;
  float: left;
  position: absolute;
  left: -100px;
  top: 18%;
  /*--- transform: translateY(-50%) ---*/
}


.pointflame p {
  color: black;
  text-align: left;
  margin: 30px;
}



/*-------- コンテンツ(マッチングの流れ)　---------*/

.matchingflow {
  text-align: center;
  background-color: white;
  padding-bottom: 30px;
}

.matchingflow p {
  color: #4A4A4A;
  margin: 15px 0 0 0;
  font-size: 25px;
}

.matchingflow img {
  width: 40%;
  margin: 60px 0 0 0;
}

img.flowsample {
  margin: 60px 0 0 0;
  width: 85%;
}

.flowtext ul {
  margin: auto;
  text-align: left;
}

.flowtext li {
  font-size: 25px;
  list-style: none;
  float: left;
  width: 218px;
  display: inline-block;
  text-align: left;
  margin: 20px 0 0 117px;
  /* padding: 10px; */
  
}


p.pink_hukidashi {
  padding: 15px;
  margin:5%;
  background-color: #DC7985;
  color: white;
  border-radius: 20px;
  position: relative;
  clear:both;
  font-size: 25px;
  line-height: 40px;
}

p.pink_hukidashi::before{
  content: "";
  position: absolute;
  top: -59px;
  left: 50%;
  margin-left: -15px;
  border: 30px solid transparent;
  border-bottom: 47px solid #DC7985;
}


img.heart {
  width: 51px;
  position: absolute;
  right: 278px;
  top: -42px;
} 

.patarn1, .patarn2 {
  background-image: url(../img/pink_bg.png);
}



/*-------- コンテンツ(女子大生に人気のワケ)　---------*/

.popularreason{
  text-align: center;
  background-image: url(../img/pink_bg.png);
  background-size: cover;
}

.popularreason p {
  color: #4A4A4A;
  margin: 40px 0 0 0;
  line-height: 45px;
  font-size: 25px;
}



/*-------- コンテンツ(料金について)　---------*/

.fee{
  text-align:center;
  padding-bottom:50px;
  background-image: url(../img/pink_bg.png);
  background-size: cover;
}

.fee p {
  margin: 40px auto 0 auto;
}

.fee p.mintext {
  font-size:  20px;
  margin: 0;
  padding-left: 520px;
}

.fee h4 {
  margin: 30px auto 0 auto;
  width: 40%;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.2em;
}

.fee img{
  width: 60%;
  margin-top: 30px;
}

table.money {
  margin: 30px auto 0 auto;
  border: solid 4px black;
  border-radius: 25px;
  border-spacing: 0;
  text-align: left;
  width: 55%;
}

table.money tr {
  border-bottom: solid 1.5px black;
}

table.money th, table.money td {
  font-size: 2em;
  padding: 10px;
}

table th:first-child {
  border-radius: 20px 0 0 0 ;
}


table.money th {
  background-color: #DDD6C3;
}



table.money th:first-of-type{
  color: red;
}


.white_hukidashi {
  width:45%;
  margin: 0;
  border-radius: 90px;
  border: solid 4px black;
  background-color: white;
  position: relative;
}

/*--- p.white_hukidashi::before{
  content: "";
  position: absolute;
  top: -59px;
  left: 50%;
  margin-left: -15px;
  border: 30px solid transparent;
  border-bottom: 47px solid #fff;
} ---*/



/*-------- コンテンツ(6つの理由)　---------*/

.allreason {
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}

.sixreason {
  width: 80%;
  margin: 30px auto;
  padding-bottom: 40px;
}

.reason1 {
  width: 23%;
  background-color: #DED6C2;
  box-shadow:3px 3px  #C3B591;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  float: left;
  margin: 30px 0 0 50px;
}


.reason2 {
  width: 23%;
  background-color: #DED6C2;
  box-shadow:3px 3px  #C3B591;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  float: left;
  margin: 30px 0 0 30px;
}

.reason1 img, .reason2 img {
  width: 75%;
  height: auto;
}

.reason1 p, .reason2 p {
  margin: 9% 0 0 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  line-height: 23px;
}

.under {
  margin-bottom: 50px;
}

img.reasonimage {
  width: 85%;
  margin-top: 60px;
}

.pinkbottomline {
  font-size:  2em;
  padding-bottom: 14px;
  border-bottom: solid 6px #EE86A0;
}

.popularreason img.btn_line {
  margin: 50px 0 60px 0;
  width: 70%;
}

.allreason p.message {
  clear:both;
}

/*-------- コンテンツ(aimaの使い方アンケート)　---------*/

.howtouseaima{
  text-align: center;
  background-image: url(../img/pink_bg.png);
  background-size: cover;
  padding-bottom: 55px;
}

.howtouseaima p {
  clear:both;
  margin: 40px 0 50px 0;
}

.howtouseaima img {
  width: 45%;
}




/*-------- コンテンツ(利用者の口コミ)　---------*/

.kuchikomi{
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}

.kuchikomiframe{
  margin: 5%;
  text-align: left;
  
}



.kuchikomiframe img.mens {
  width:18%;
  float: left;
  margin: 0 30px 30px 0;
}

.partition {
  float: left;
  width:  30%;
}

p.brownframe {
  padding: 12px 30px;
  background-color: #C9BB9C;
  border-radius: 20px;
  display: block;
  width: 73%;
  margin: 0;
  font-size: 22px;
} 

.kuchikomiframe h3 {
  float:  left;
  margin: 10px 0 0 0;
  font-size:  25px;
  line-height: 131%;
  width: 93%;
}

.kuchikomiframe p.comment {
  float: left;
  margin: 0;
  font-size: 20px;
  width: 49%;
  line-height: 30px;
}

hr {
  clear:both;
  height: 2px;
  border-top: 3px #ccc dashed;
  margin: 0px 5% 70px;
}


.last_btn{
  clear:both;
}

.last_btn p {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 0;
}


/*-------- フッター　---------*/


footer {
  max-width: 1140px;
  margin: 0 auto;
}


.footer {
  text-align: center;
  color: white;
  background-color: black;
  background-image: url(../img/background_star.png);
  background-size: cover;
  padding: 20px;
  margin: 0;
  clear: both;
  position: relative; 
}

.footer img{
  width: 15%;
  margin-bottom: 1%;
}

.footer a img.btn_top {
  width: 7%;
  position: absolute;
  bottom: 80px;
  right: 90px;
}

.footer a img.btn_top:hover {
  opacity: 0.8;
} 


.footer p {
  color: white;
  margin:0;
  font-size: 12px;
  line-height: 20px;
}

/* ポップアップ */
.swal2-popup {  
  border-radius: 30px !important;
  position: absolute;
  top: 30px;
  background: transparent !important;
}
img.inner_img {
  width: 100%;
}
a.pop_link {
  display: block;
  width: 100%;
  margin: -17% auto 0;
}
a.pop_link img {
  width: 95%;
  position: relative;
  top: -20px;
}
.castLink_button_container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}
.castLink_button {
  padding: 3% 2%;
  width: 96%;
  display:block;
}
.castLink_container {
  position: absolute;
  top: 25%;
  display: grid;
  display: -ms-grid;
  grid-template-rows: 52% 52%;
  grid-template-columns: 32% 32% 32%;
  justify-items: center;
  justify-content: space-between;
  margin: 0 3%;
}
.castLink_photo {
  width:100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.castLink {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#cast1 {
  grid-row: 1;
  grid-column: 1;
}
#cast2 {
  grid-row: 1;
  grid-column: 2;
}
#cast3 {
  grid-row: 1;
  grid-column: 3;
}
#cast4 {
  grid-row: 2;
  grid-column: 1;
}
#cast5 {
  grid-row: 2;
  grid-column: 2;
}
#cast6 {
  grid-row: 2;
  grid-column: 3;
}
.swal2-close {
  color: #636363 !important;
}
.swal2-actions {
  display: none !important;
}
.swal2-content {
  position: relative;
}


@media (max-width: 450px) {
  a.pop_link img {
    width: 90%;
    position: relative;
    top: -10px;
  }
}
@media (max-width: 375px) {
  .castLink_container {
    grid-template-rows: 52%;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    margin: 0 4%;
  }
  a.pop_link img {
  top: -18px;
  }
}
