* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 17px;
}
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
    font-style: normal;
    position: relative;
    color: rgb(8, 44, 94);
    background-color: white;
    position: relative;
}
a, p {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(8, 44, 94);
}
ul, li, ol {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    margin: 0 auto;

}
.pc {
    display: none;
}
.sp {
    display: block;
}
@media(min-width: 700px) {
    body {
        padding-bottom: 0;
    }
    .sp {
        display: none;
    }
    .pc {
        display: block;
        max-width: 1600px;
    }
}