* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
}
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,メイリオ,Meiryo,sans-serif;
    font-style: normal;
    position: relative;
    color: #1b1b1b;
    z-index: 0;
    font-weight: 400;
    font-style: normal;
}
a, p, h1, h2 ,h3 ,h4, h5, h6, li, td, dd, aside, span {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    color: #1b1b1b;
    letter-spacing: 1px;
}
ul, li, ol {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.sp {
    display: block;
}
.pc {
    display: none;
}

/* その他 */
.sp, .mac-pc {
    display: block;
}
.tb, .pc {
    display: none;
}
.ttl {
    background-color: #1b1b1b;
    text-align: center;
    padding: 0.9rem 0;
    margin-bottom: 2rem;
}
.ttl h2 {
    font-size: 1.65rem;
    color: #fff;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
}
.header_logo {
    width: 32%;
    max-width: 10rem;
    margin-left: 0.8rem;
}
header .btn {
    width: 9rem;
}

/* メインビジュアル */
.mv {
    text-align: center;
    background-image: url(../img/mv_bg.png);
    background-size: cover;
    background-position: right 12% top;
    background-repeat: no-repeat;
    padding-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
}
.mv .inner {
    max-width: 1000px;
    margin: auto;
}
.mv .top {
    width: 47%;
    max-width: 200px;
    margin: 0 0 14rem 0.7rem;
}
.mv h2 {
    width: 95%;
    max-width: 550px;
    margin:  0 0 0.5rem 0.5rem;
}
.qualifications {
    display: flex;
    justify-content: center;
    background-color: #ffffffb8;
}
.qualifications p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: #616161;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    letter-spacing: 0;
    white-space: nowrap;
}

/* ボタン */
.registration {
    text-align: center;
    margin: 0 auto 2rem;
}
.registration:last-child {
    margin: 0 auto 4rem;
}
.registration .top {
    display: inline-block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #fff802;
    border: 2px solid #000;
    border-radius: 3rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
.registration .btm {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 0.3rem;
    position: relative;
}
.registration .btm:after {
    content: url(../img/icon_push.svg);
    display: block;
    width: 7vw;
    height: 7vw;
    max-width: 28px;
    max-height: 28px;
    position: absolute;
    right: -0.8rem;
    bottom: -0.3rem;
}
.registration aside {
    font-size: 0.7rem;
    color: #616161;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* 全額返金 */
.refund {
    width: 94%;
    max-width: 400px;
    margin: 0 auto 2rem;
}

/* aimaが選ばれる理由 */
.reason {
    margin: 0 auto 4rem;
}
.reason h2 img {
    display: inline-block;
    vertical-align: baseline;
    width: 7rem;
    margin-right: 0.4rem;
}
.reason ul {
    margin: 0 1rem;
}
.reason li {
    max-width: 450px;
    margin: 0 auto 2rem;
}
.reason .hd {
    width: 90%;
    position: relative;
    padding: 0.5rem 0;
    margin: 0 auto 1.3rem;
}
.reason li:first-child .hd {
    background-color: #1c7cfe;
}
.reason li:nth-child(2) .hd {
    background-color: #ff52af;
}
.reason li:nth-child(3) .hd {
    background-color: #ff8901;
}
.reason .hd:after {
    content: "";
    display: block;
    width: 94%;
    height: 2.6rem;
    background-color: #ffffff85;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(2deg);
}
.reason .hd img {
    width: auto;
    height: 1.6rem;
    margin: auto;
    position: relative;
    z-index: 2;
}
.reason .content {
    display: flex;
    align-items: center;
}
.reason .content img {
    width: 48%;
    padding-right: 1rem;
}
.reason p {
    font-size: 0.95rem;
    line-height: 1.4rem;
}
.reason p span {
    font-weight: bold;
}

/* すぐに出会える仕組み */
.flow {
    text-align: center;
    margin: 0 auto 2.5rem;
}
.flow p:first-of-type {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #fff802;
    border: 2px solid #000;
    border-radius: 3rem;
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
}
.flow p:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.flow ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 1.5rem 1rem;
}
.flow li img {
    width: 220px;
    margin-right: 1rem;
}

/* 安心安全の取り組み */
.effort {
    margin: 0 auto 2rem;
}
.effort h3 {
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.effort ul {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.effort li {
    text-align: center;
    padding: 1.5rem 0;
}
.effort li:nth-child(odd) {
    background-color: #f7f7f7;
}
.effort h4 img {
    width: auto;
    height: 1.4rem;
    margin: 0 auto 1.3rem;
}
.effort .image {
    width: auto;
    height: 7rem;
    margin: 0 auto 1.3rem;
}
.effort p {
    font-size: 0.95rem;
    line-height: 1.4rem;
}

/* フッター */
footer {
    text-align: center;
    background-color: #1b1b1b;
    padding: 1.8rem 0 27vw;
}
.s_footer {
    padding: 1.8rem 0 1.5rem;
}
.footer_logo {
    display: block;
    width: 32rem;
    max-width: 10rem;
    border: none;
    margin: 0 auto 1.5rem;
}
footer .link {
    margin: 0 auto 1.5rem;
}
footer a {
    display: inline-block;
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: #fff;
    border-right: 0.5px solid #fff;
    padding: 0 0.5rem;
}
footer a:last-child {
    border: none;
}
footer p, footer small {
    display: block;
    font-size: 0.7rem;
    line-height: 1.1rem;
    color: #fff;
    margin-bottom: 0.5rem;
}
footer small {
    margin: 1.5rem 0 0;
}

/* フロートボタン */
.float {
    width: 100%;
    background-color: #ffffffe8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.float a {
    display: block;
    width: 95%;
    max-width: 450px;
    margin: 0.3rem auto 0;
    position: relative;
}
.float a:after {
    content: url(../img/icon_push.svg);
    display: block;
    width: 7.5vw;
    height: 7.5vw;
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    right: -0.3rem;
    bottom: 0.8rem;
}

/* トップページに戻るボタン */
.top-btn {
    display: block;
    width: 60%;
    max-width: 250px;
    color: #fff;
    background: rgb(27,27,27);
    background: linear-gradient(0deg, rgba(27,27,27,1) 0%, rgba(27,27,27,1) 50%, rgba(56,56,56,1) 50%, rgba(56,56,56,1) 100%);
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3rem;
    margin: 3rem auto;
    padding: 0.5rem 0;
}

/* 特定商法に基づく表示 */
.law .ttl, .privacy .ttl, .terms .ttl {
    background-color: #f7f7f7;
}
.law h2, .privacy h2, .terms h2 {
    font-size: 1.65rem;
    color: black;
}
.law .inner, .privacy .inner, .terms .inner {
    max-width: 1400px;
    padding: 0 1rem;
    margin: 0 auto;
}
.law table {
    width: 100%;
    max-width: 940px;
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
}
.law th, .law td {
    font-size: 0.9rem;
    line-height: 1.3rem;
    border: 1px solid #000;
    padding: 0.5rem;
}
.law th {
    width: 30%;
}

/* プライバシーポリシー */
.privacy p, .terms p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-bottom: 1.3rem;
}
.privacy h3, .terms h3 {
    text-align: center;
    border: 1px solid #000;
    background-color: #f7f7f7;
    padding: 0.5rem;
    margin: 0 auto 0.5rem;
}