@media screen and (max-width: 290px) {
    html {
        font-size: 10px !important;
    }
    .qualifications p {
        white-space: normal;
    }
}
@media screen and (max-width: 330px) {
    html {
        font-size: 12px !important;
    }
    .qualifications p {
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .qualifications p:first-child {
        margin-right: -5%;
    }
    .qualifications p:nth-child(2) {
        margin-left: -5%;
    }
}

@media screen and (min-width: 750px) {
    .sp {
        display: none;
    }
    .tb {
        display: block;
    }
    .reason .ttl {
        padding:  1rem 0 0.8rem;
    }
    .ttl {
        padding: 1.2rem 0;
    }
    /* ヘッダー */
    header .btn {
        width: 11rem;
    }
    /* メインビジュアル */
    .mv .top {
        margin: 0 0 12rem 0.7rem;
    }
    .mv a {
        padding: 0.3rem 0;
    }
    .mv a:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1.5rem;
        margin: auto;
    }
    /* 全額返金 */
    .refund {
        max-width: 500px;
    }
    /* すぐに出会える仕組み */
    .flow ul {
        justify-content: center;
        padding: 0 0 1.5rem 0;
        overflow: hidden;
    }
    .flow li:last-child img {
        margin-right: 0;
    }
    .effort li:nth-child(3) {
        background-color: #fff;
    }
    .effort li:nth-child(4) {
        background-color: #f7f7f7;
    }
    /* 安心安全の取り組み */
    .effort ul {
        display: flex;
        flex-wrap: wrap;
    }
    .effort li {
        width: 50%;
    }
    /* フロートボタン */
    .float a {
        height: 4rem;
    }
    /* フッター */
    footer {
        padding: 1.5rem 0 5rem;
    }
    /* その他 */
    .top-btn {
        padding: 0.7rem 0;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    .max-pc {
        display: none;
    }
    .pc {
        display: block;
    }
    .ttl h2 {
        font-size: 1.9rem;
    }
    /* メインビジュアル */
    .mv {
        padding: 1.5rem 0 0.5rem;
        background-position: center top 30%;
    }
    .mv .top {
        max-width: 270px;
        margin: 0 0 10rem 0.7rem;
    }
    .mv h2 {
        max-width: 630px;
    }
    .qualifications {
        width: 600px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0) 100%);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .qualifications p {
        color: #171717;
    }
    /* ボタン */
    .registration a {
        max-width: 500px;
    }
    .registration p:first-child {
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        padding: 0.2rem 1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .registration p:nth-child(2) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .registration aside {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    /* 全額返金 */
    .refund {
        max-width: 650px;
    }
    /* aimaが選ばれる理由 */
    .reason h2 img {
        width: 8rem;
        vertical-align: bottom;
    }
    /* 出会える仕組み */
    .flow p:nth-of-type(2) {
        font-size: 1.2rem;
    }
    .flow li img {
        width: 280px;
        margin-right: 3rem;
    }
    /* 安心安全の取り組み */
    .effort h3 {
        font-size: 1.2rem;
    }
    /* フロートボタン */
    .float {
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-flow: column-reverse;
        width: 5rem;
        left: auto;
        right: 0.5rem;
        top: 10%;
        bottom: auto;
    }
    .float .cast, .float .guest {
        width: 100%;
        height: auto;
        background-color: inherit;
        margin-bottom: 1rem;
    }
    .float a:after {
        display: none;
    }
    .float .cast img, .float .guest img {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
    }
    .float a img:first-of-type {
        display: none;
    }
    /* フッター */
    footer {
        padding: 1.5rem 0 0.5rem;
    }
    /* その他 */
    .law th {
        width: 240px;
    }
    .privacy h3, .terms h3 {
        margin: 0 auto 1rem;
    }
    .privacy p, .terms p {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .ttl {
        margin-bottom: 2.5rem;
    }
    /* メインビジュアル */
    .mv h2 {
        max-width: 680px;
    }
    /* ボタン */
    .registration {
        margin: 0 auto 1.5rem;
    }
    /* 全額返金 */
    .refund {
        margin: 0 auto 3.5rem;
    }
    /* aimaが選ばれる理由 */
    .reason ul {
        max-width: 1300px;
        display: flex;
        margin: 0 5rem;
    }
    .reason li {
        width: calc(100% / 3);
        max-width: 430px;
        margin: 0 auto 1rem;
    }
    .reason .content {
        flex-wrap: wrap;
    }
    .reason .content img {
        width: 80%;
        padding: 0;
        margin: 0 auto 1rem;
    }
    .reason p {
        text-align: center;
        margin: auto;
    }
    /* すぐ出会える仕組み */
    .flow p:nth-of-type(2) {
        margin-bottom: 2rem;
    }
    /* 安心安全の取り組み */
    .effort h3 {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1300px) {
    .reason .ttl {
        padding: 1rem 0;
    }
    .ttl {
        padding: 1.5rem 0;
    }
    .ttl h2 {
        font-size: 2.1rem;
    }
    /* ボタン */
    .registration a {
        max-width: 550px;
    }
    /* 全額返金 */
    .refund {
        max-width: 680px;
    }
    /* aimaが選ばれる理由 */
    .reason .hd {
        padding: 0.7rem;
    }
    .reason .hd:after {
        height: 2.9rem;
        transform: rotate(1deg);
    }
    .reason .hd img {
        height: 1.8rem;
    }
    /* フロートボタン */
    .float {
        right: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    /* aimaが選ばれる理由 */
    .reason ul {
        margin: 0 auto;
    }
}