@media (min-width: 700px) {
  html {
    font-size: 17px;
  }
  body {
    margin-bottom: 0;
    padding: 0 !important;
  }
  .pc {
    display: block !important;
  }
  .s-pc,
  .sp,
  .btn_float {
    display: none;
  }
  .heading img {
    margin: 0 auto 2rem;
  }
  .fee_wrap .title,
  .voice_wrap .title,
  .reason_wrap .title {
    margin-bottom: 2rem;
  }
  header h1 a {
    width: 130px;
  }
  /* slick */
  .slick-prev {
    left: -1.5rem !important;
  }
  .slick-next {
    right: -1.5rem !important;
  }
  /* タイトル、見出し */
  .heading h3 {
    font-size: 1.3rem;
  }
  .heading h3:nth-of-type(2),
  .effort_wrap h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  /* LINEボタン */
  .btn_wrap a {
    width: 480px;
  }
  /* メインビジュアル */
  .mv_wrap img {
    max-width: 900px;
    padding: 0 1rem;
  }
  .guide_wrap {
    margin-top: -3rem;
  }
  /* メリット */
  .merit_wrap {
    padding: 3rem 0 0;
    margin-bottom: 3rem;
  }
  .merit_wrap .title {
    margin-bottom: 4rem;
  }
  .merit_wrap .list {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }
  .merit_wrap .item,
  .merit_wrap .item:last-of-type {
    display: block;
    width: 250px;
    margin: 0 0.5rem 3rem;
  }
  .merit_wrap .text {
    width: 100%;
    margin: auto;
    padding: 0.5rem 1rem 0;
  }
  .merit_wrap .text h4 {
    text-align: center;
    line-height: 1.7rem;
    margin-bottom: 0;
  }
  .merit_wrap .item .img-pc {
    height: 7rem;
    position: relative;
  }
  .merit_wrap .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .merit_wrap .item:first-of-type img {
    width: 5.5rem;
  }
  .merit_wrap .item:nth-of-type(2) img {
    width: 6.5rem;
  }
  .merit_wrap .item:nth-of-type(3) img {
    width: 5.3rem;
  }
  /* マッチングの流れ */
  .slide_flow {
    display: flex;
    max-width: 850px;
  }
  .block_about .top {
    font-size: 0.95rem;
    padding: 0.5rem;
    margin: 0 auto 1.5rem;
  }
  .block_about .bottom {
    justify-content: center;
  }
  .group .content {
    padding-left: 1rem;
  }
  .solo .content {
    padding-right: 1rem;
  }
  .block_about h4 {
    font-size: 1.1rem;
  }
  .flow_wrap .text_about span {
    font-size: 1rem;
  }
  .flow_wrap .text_about p {
    font-size: 0.95rem;
  }
  .flow_wrap .text_about {
    margin-bottom: 0;
  }
  .flow_wrap .item {
    margin: 2rem;
  }
  .flow_wrap .item:after {
    right: -2.6rem;
  }
  .flow_wrap .block_group:before {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .flow_wrap .block_solo:before {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  .flow_wrap .slick-initialized .slick-slide {
    padding: 0 3rem;
  }
  /* 利用料金 */
  .fee_wrap {
    margin: 0 auto 6rem;
  }
  .fee_wrap .block_table {
    width: 600px;
  }
  .fee_wrap .table {
    display: flex;
    width: 100%;
    border: 1px solid #292929;
  }
  .fee_wrap .block_table .cell {
    display: block;
    width: 200px;
    text-align: center;
    padding: 1.2rem 0;
  }
  .fee_wrap .block_table .cell,
  .fee_wrap .block_table .cell:nth-of-type(2) {
    border: 1px solid #292929;
  }
  .fee_wrap .block_table .cell span {
    width: auto;
    padding: 0.5rem 0.5rem 0;
  }
  .fee_wrap .block_table .valuation {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0.3rem;
  }
  /* 利用者の声 */
  .voice_wrap {
    margin: 0 auto 5rem;
  }
  .img-pc2 {
    height: 7rem;
  }
  .voice_wrap .item {
    width: 600px;
    margin: 0 auto 2rem;
  }
  /* aimaが選ばれる理由 */
  .effort_wrap .list {
    padding: 0 1rem;
  }
  .effort_wrap .item {
    width: 50%;
    background: #f5f3f1;
  }
  .effort_wrap .item:nth-child(2),
  .effort_wrap .item:nth-child(3) {
    background: #fff;
  }
  /* フロートボタン */
  .float_wrap {
    display: none;
  }
  /* 安心安全の理由 */
  .apply .mv_wrap,
  .apply .intro_wrap {
    margin-bottom: 5rem;
  }
  .effort_wrap .list {
    display: flex;
    justify-content: space-between;
  }
  .effort_wrap .list li {
    width: calc(100% / 2 - 1rem);
  }
  .effort_wrap .list img {
    width: 160px;
  }
}

@media (min-width: 1000px) {
  .guide_wrap {
    margin-top: -5rem;
  }
  .block_about {
    display: flex;
    align-items: flex-start;
    max-width: 1100px;
  }
  .block_about .bottom {
    margin: 0 0.5rem;
  }
  .group,
  .solo {
    width: 50%;
  }
  .flow_wrap .text_about p:first-of-type {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .solo_img1 {
    display: block;
  }
  .solo_img2 {
    display: none;
  }
  .solo .content {
    text-align: left;
    padding: 0 0 0 1rem;
  }
  /* その他 */
  .s_body h2 {
    font-size: 1.7rem;
  }
  .law th {
    width: 10%;
  }
  .privacy h3,
  .terms h3 {
    margin: 0 auto 1rem;
  }
  .privacy p,
  .terms p {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .voice_wrap .item {
    width: 650px;
  }
  .reason_wrap {
    margin: 0 auto 3rem;
  }
  /* メリット */
  .merit_wrap .list {
    max-width: 800px;
  }
}
@media screen and (min-width: 1000px) {
  .max-pc {
    display: none;
  }
  .float {
    width: 6rem;
    background-color: transparent;
    left: auto;
    right: 0.5rem;
    top: 10%;
    bottom: auto;
  }
}
