* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 15px;
}
body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
    "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, メイリオ, Meiryo,
    sans-serif;
  font-style: normal;
  position: relative;
  color: #1b1b1b;
  z-index: 0;
  font-weight: 400;
  font-style: normal;
}
body:not(.s_body) {
  padding-bottom: 4rem;
}
@media all and (-ms-high-contrast: none) {
  body {
    font-family: "游ゴシック", YuGothic, YuGothicM, "Yu Gothic", メイリオ,
      Meiryo, sans-serif;
  }
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dt,
dd,
th,
td,
aside,
span {
  text-decoration: none;
  color: #1b1b1b;
  cursor: -moz-text;
  cursor: -webkit-text;
  cursor: text;
}
a {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}
a,
span,
aside {
  display: inline-block;
}
ul,
li,
ol {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
  cursor: -moz-default;
  cursor: -webkit-default;
  cursor: default;
}
a img {
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
  cursor: pointer;
}
address {
  font-style: normal;
}

/* その他 */
.sp,
.sp2 {
  display: block;
}
.pc {
  display: none !important;
}

/* フォント */
.merit_wrap .item .num,
.flow_wrap .item span {
  font-family: all-round-gothic;
  font-weight: 700;
  font-style: italic;
}

/* コンテンツ共通 */
.heading {
  margin-bottom: 1.5rem;
}
.heading img {
  display: block;
  width: 2rem;
  margin: 0 auto 1rem;
}
/* コンテンツ共通_見出し */
.heading h3 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
.heading h3:nth-of-type(2),
.effort_wrap h3 {
  font-size: 1rem;
  line-height: 1.3rem;
}
/* コンテンツ共通_タイトル */
.title {
  margin-bottom: 1.5rem;
}
.title h2 {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
.title h2:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0 auto 0.5rem;
  width: auto;
  height: 3rem;
}
.guide_wrap .title h2:before {
  background-image: url(../img/cth_guide.svg);
}
.merit_wrap .title h2:before {
  background-image: url(../img/cth_merit.svg);
}
.flow_wrap .title h2:before {
  background-image: url(../img/cth_flow.svg);
}
.fee_wrap .title h2:before {
  background-image: url(../img/cth_fee.svg);
}
.voice_wrap .title h2:before {
  background-image: url(../img/cth_voice.svg);
}
.effort_wrap .title h2:before {
  background-image: url(../img/cth_initiatives.svg);
}

/* ボタン */
.btn_wrap {
  margin: 2rem auto 4rem;
  text-align: center;
}
.btn_wrap:last-child {
  margin: 3rem auto 6rem;
}
.btn_wrap a {
  margin: 0 1rem;
}
.btn_wrap .top {
  font-size: 1.1rem;
  font-weight: bold;
  color: #006101;
}
.btn_wrap .top span {
  display: block;
  font-size: 0.7rem;
  line-height: 1.4rem;
}
.btn_wrap .btm {
  font-size: 0.95rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.btn_wrap .btm span {
  font-size: 1rem;
  color: #e06701;
}
.btn_wrap aside {
  display: block;
  font-size: 10px;
  text-align: center;
  margin-top: 0.3rem;
}

/* ヘッダー */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(34, 34, 34);
}
header .logo {
  margin: 1rem 0;
}
header h1 a {
  display: block;
  width: 110px;
  margin-left: 1rem;
}
header .btn {
  font-size: 0.9rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: bold;
  background: #ee86a0;
  border-radius: 20px 0 0 20px;
  padding: 0 1.5rem 0 1rem;
  margin: 0.6rem 0;
  position: relative;
}
header .btn::after {
  content: "";
  display: block;
  width: 0.5rem;
  background: url(../img/common/header_arrow.svg) center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  margin: auto;
}

/* メインビジュアル */
.mv_wrap {
  background: url(../img/mv_bg.jpg) center left 50% no-repeat;
  background-size: cover;
  position: relative;
}
.mv_wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 178, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 178, 0, 1) 0%,
    rgba(255, 201, 99, 1) 100%
  );
  opacity: 0.8;
}
.mv_wrap img {
  max-width: 600px;
  margin: auto;
  position: relative;
  z-index: 3;
}
.mv_wrap .pc {
  display: none;
}

/* 使い方ガイド */
.guide_wrap {
  text-align: center;
  margin-top: -2rem;
  position: relative;
  z-index: 2;
}
.guide_wrap .inner {
  display: inline-block;
  background: #e28200;
  border-radius: 5px;
  padding: 0.7rem 0.7rem 0.1rem;
}
.guide_wrap iframe {
  width: 70vw;
  max-width: 400px;
  height: 39vw;
  max-height: 220px;
  border: 1.5px solid #fff;
}
.guide_wrap p {
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #fff;
  letter-spacing: 1px;
}
.no1 {
  width: 80%;
  max-width: 450px;
  margin: 1rem auto 0;
}

/* メリット */
.merit_wrap {
  background-image: url(../img/merit_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 3rem;
  padding: 1.5rem 0;
}
.merit_wrap .title {
  margin-bottom: 3rem;
}

/* メリット_リスト */
.merit_wrap .item {
  background-color: white;
  display: flex;
  align-items: center;
  width: 350px;
  margin: 0 auto 3rem;
  padding: 1rem 0;
  position: relative;
  border-radius: 10px;
}
.merit_wrap .item:last-of-type {
  margin: 0 auto 2rem;
}
.merit_wrap .item:nth-of-type(2) {
  padding: 1.5rem 0;
}
.merit_wrap .item:nth-of-type(3) {
  padding: 1rem 0;
}
/* メリット_番号 */
.merit_wrap .item .num {
  display: block;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 1.9rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  margin: auto;
}
.merit_wrap .item .num span {
  display: inline-block;
  width: 1.4rem;
  margin: auto;
  border-bottom: 1.5px solid #292929;
  line-height: 1.9rem;
  vertical-align: middle;
}
/* メリット_アイコン */
.merit_wrap .img {
  width: 30%;
  padding: 0.8rem;
}
.merit_wrap .item:first-of-type .img,
.merit_wrap .item:nth-of-type(3) .img {
  padding: 1rem;
}
.merit_wrap .img img {
  display: inline-block;
}
/* メリット_テキスト */
.merit_wrap .text {
  width: 70%;
  padding-right: 1rem;
}
.merit_wrap .text h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  margin-bottom: 0.4rem;
  position: relative;
}
.merit_wrap .item:first-of-type .text h4 {
  font-size: 1.2rem;
}
.merit_wrap .text h4 span {
  font-size: 1.5rem;
  letter-spacing: 3px;
}
.merit_wrap .text h4 span span {
  font-size: 1.9rem;
  line-height: 1.8rem;
}
.merit_wrap .text p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* マッチングの流れ */
.flow_wrap {
  margin: 0 auto 3rem;
}
.flow_wrap h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2rem;
}
.flow_wrap h4 span {
  color: #e06701;
}
.block_group {
  background: #f5f3f1;
  padding-bottom: 2rem;
}
.block_solo {
  background: #eceae8;
  padding-bottom: 2rem;
}
/* マッチングの流れ_各見出し(グルマ、ソロマ) */
.flow_wrap .text_about {
  margin-bottom: 2rem;
  text-align: center;
}
.flow_wrap .text_about h4 {
  margin-bottom: 0.5rem;
}
.flow_wrap .text_about span {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 0 1rem;
  margin: 1.5rem 0;
}
.flow_wrap .text_about p {
  font-weight: bold;
}
.flow_wrap .text_about p:first-of-type {
  display: block;
  font-size: 1.1rem;
  line-height: 2.5rem;
  color: #fff;
  letter-spacing: 3px;
  background: #292929;
}
/* マッチングの流れ_スライド(グルマ、ソロマ) */
.flow_wrap .slide_flow {
  width: 100%;
  margin: auto;
}
.flow_wrap .item {
  position: relative;
}
.flow_wrap .item:after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  top: 45%;
  right: -0.6rem;
  margin: auto;
}
.flow_wrap .item:last-of-type:after {
  content: "";
}
/* マッチングの流れ_番号 */
.flow_wrap .item span {
  display: block;
  background-color: #292929;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  margin: 0 auto 1.2rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: white;
  position: relative;
}
.flow_wrap .item span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  left: 0;
  margin: auto;
  border-style: solid;
  border-width: 1.4rem 0.8rem 0 0.8rem;
  border-color: #292929 transparent transparent transparent;
}
/* マッチングの流れ_画像 */
.flow_wrap .item img {
  display: block;
  margin: 0 auto 1.7rem;
}
/* マッチングの流れ_テキスト */
.flow_wrap .item .text {
  border-top: 2px solid #292929;
  position: relative;
  padding-top: 0.7rem;
}
.flow_wrap .item .text:before {
  content: "";
  position: absolute;
  top: -1.3rem;
  left: 50%;
  margin-left: -0.7rem;
  border: 0.7rem solid transparent;
  border-bottom: 0.7rem solid #f6f5f4;
  z-index: 2;
}
.flow_wrap .block_solo .item .text:before {
  border-bottom: 0.7rem solid #ece8e5;
}
.flow_wrap .item .text:after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 50%;
  margin-left: -0.7rem;
  border: 0.7rem solid transparent;
  border-bottom: 0.7rem solid #292929;
  z-index: 1;
}
.flow_wrap .item .text p {
  font-size: 0.95rem;
  line-height: 1.2rem;
}

/* slick */
.slick-slide {
  outline: none;
}
.slick-initialized .slick-slide {
  align-items: flex-start;
}
.flow_wrap .slick-initialized .slick-slide {
  display: block !important;
  padding: 0 1.5rem;
}

/* ご利用料金 */
.fee_wrap {
  margin: 0 auto 4rem;
}
/* ご利用料金_表 */
.fee_wrap .block_table {
  width: 350px;
  margin: 0 auto 1rem;
}
.fee_wrap .block_table p:first-child {
  display: block;
  background-color: rgb(41, 41, 41);
  color: white;
  font-size: 0.95rem;
  line-height: 2.2rem;
  text-align: center;
}
.fee_wrap .block_table .cell {
  background-color: #f1ede9;
  display: flex;
  border: 1px solid #292929;
  border-bottom: none;
  align-items: center;
}
.fee_wrap .block_table .cell:nth-of-type(2) {
  background-color: #e4e2d9;
  border-bottom: none;
}
.fee_wrap .block_table .cell:nth-of-type(3) {
  background-color: #e0d5c0;
  border: 1px solid #292929;
}
.fee_wrap .block_table .valuation {
  width: 60%;
  padding-left: 1rem;
}
.fee_wrap .cell .valuation i {
  font-size: 1.7rem;
  color: #b7a783;
  padding-right: 0.5rem;
}
.fee_wrap .cell:nth-of-type(2) .valuation i {
  color: #ad9767;
}
.fee_wrap .cell:nth-of-type(3) .valuation i {
  color: #927638;
}
.fee_wrap .block_table .cell span {
  width: 40%;
  font-size: 2.4rem;
  font-family: all-round-gothic;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  padding: 0.5rem;
}
.fee_wrap .block_table .cell span span {
  display: inline;
  font-size: 1.6rem;
  margin-left: 0.1rem;
  padding: 0;
}
.fee_wrap .block_table p:last-child {
  font-size: 0.8rem;
  text-align: right;
  line-height: 1.8rem;
}
/* ご利用料金_下部テキスト */
.fee_wrap p:last-child {
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
}

/* 利用者の声 */
.voice_wrap {
  margin: 0 auto 3rem;
}
/* 利用者の声_アイテム */
.voice_wrap .item {
  width: 350px;
  margin: 0 auto 1rem;
  position: relative;
}
.voice_wrap .item p {
  display: block;
  width: 58%;
  color: white;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  text-shadow: 0px 0px 6px #301e12eb;
}
.voice_wrap .item span {
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  text-shadow: 0px 0px 6px #301e12eb;
}

/* 選ばれる6つの理由 */
.effort_wrap {
  margin: 0 auto 2rem;
  padding: 2rem 0;
}
/* 選ばれる6つの理由_リスト */
.effort_wrap .list {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto 0;
}
.effort_wrap .item {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0.5rem;
}
.effort_wrap .item:nth-child(odd) {
  background-color: #f5f3f1;
}
/* 選ばれる6つの理由_アイテム内(タイトル、内容) */
.effort_wrap .item p:first-of-type {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.effort_wrap .item p:last-of-type {
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: normal;
  letter-spacing: 0;
  letter-spacing: 1px;
}
/* 選ばれる6つの理由_アイコン */
.effort_wrap .item img {
  width: auto;
  height: 6rem;
  margin: 1.3rem auto;
}

/* フッター */
footer {
  width: 100%;
  text-align: center;
  background: rgb(34, 34, 34);
  padding: 2rem 0 1.5rem;
}
footer a,
footer span,
footer small,
footer dd {
  color: #fff;
}
footer .btn_shop {
  display: block;
  width: 80%;
  max-width: 350px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background: #eba200;
  border-radius: 10px;
  padding: 0.8rem 0;
  margin: 0 auto 1.5rem;
}
footer .btn_contact {
  text-decoration: underline;
  margin-bottom: 1.5rem;
}
footer .btn_shop span {
  font-size: 1.1rem;
  font-weight: bold;
}
table {
  width: 100%;
  max-width: 400px;
  padding: 0 1rem;
  margin: 0 auto 1.5rem;
}
caption,
footer dt {
  font-size: 0.9rem;
  font-weight: bold;
  color: #eba200;
  margin-bottom: 0.2rem;
}
footer dl {
  margin-bottom: 1.5rem;
}
footer dd {
  font-size: 0.8rem;
}
footer dd a {
  text-decoration: underline;
}
table td {
  width: calc(100% / 3);
  font-size: 0.7rem;
  padding: 0.3rem 0;
}
.sns {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.sns a {
  width: 2rem;
  margin: 0 0.8rem;
}

/* フロートボタン */
.float_wrap {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.float_wrap a {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  padding: 1.2rem 0;
}
.float_wrap .line {
  background: #01b702;
}
.float_wrap .cast {
  background: #ee86a0;
}
/* トップページに戻るボタン */
.top-btn {
  display: block;
  width: 60%;
  max-width: 250px;
  color: #fff;
  background: #ea8d00;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 3rem;
  margin: 3rem auto;
  padding: 0.5rem 0;
}

/* 特定商法に基づく表示 */
.s_body {
  margin: 0;
}
.law .ttl,
.privacy .ttl,
.terms .ttl,
.fee .ttl {
  background-color: #f7f7f7;
  padding: 0.5rem;
  margin-bottom: 1.3rem;
}
.law h2,
.privacy h2,
.terms h2,
.fee h2 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
.law .inner,
.privacy .inner,
.terms .inner,
.fee .inner {
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}
.law table {
  width: 100%;
  max-width: 940px;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: auto;
}
.law th,
.law td {
  font-size: 0.9rem;
  line-height: 1.3rem;
  border: 1px solid #000;
  padding: 0.5rem;
}
.law th {
  width: 30%;
}

/* プライバシーポリシー */
.privacy p,
.terms p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 1.3rem;
}
.privacy h3,
.terms h3 {
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #000;
  background-color: #f7f7f7;
  padding: 0.5rem;
  margin: 0 auto 0.5rem;
}

/* フロートボタン */
.float {
  width: 100%;
  background-color: #ffffffe8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}
.float a {
  display: block;
  width: 95%;
  max-width: 450px;
  margin: 0.3rem auto 0;
  position: relative;
}

/* ポップアップ */
.swal2-popup {
  border-radius: 30px !important;
  position: absolute;
  top: 30px;
  background: transparent !important;
}
img.inner_img {
  width: 100%;
}
a.pop_link {
  display: block;
  width: 100%;
  margin: -17% auto 0;
  text-align: center;
  text-align: -webkit-center;
}
a.pop_link img {
  width: 95%;
  position: relative;
  top: -20px;
}
.castLink_button_container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}
.castLink_button {
  padding: 3% 2%;
  width: 96%;
  display: block;
}
.castLink_container {
  position: absolute;
  top: 25%;
  display: grid;
  display: -ms-grid;
  grid-template-rows: 52% 52%;
  grid-template-columns: 32% 32% 32%;
  justify-items: center;
  justify-content: space-between;
  margin: 0 3%;
}
.castLink_photo {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.castLink {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#cast1 {
  grid-row: 1;
  grid-column: 1;
}
#cast2 {
  grid-row: 1;
  grid-column: 2;
}
#cast3 {
  grid-row: 1;
  grid-column: 3;
}
#cast4 {
  grid-row: 2;
  grid-column: 1;
}
#cast5 {
  grid-row: 2;
  grid-column: 2;
}
#cast6 {
  grid-row: 2;
  grid-column: 3;
}
.swal2-close {
  color: #636363 !important;
}
.swal2-actions {
  display: none !important;
}
.swal2-content {
  position: relative;
}
